/* General */
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Sections */
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}

/* Cover Photo */
.hero {
  width: 100%;
  height: 100vh;
  background: url(img/landing.jpg) top center;
  background-size: cover;
  position: relative;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.hero .hero-container {
/*  position: absolute;*/
  padding-top: 23%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
.hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
.hero .btn-register {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.hero .btn-register:hover {
  background: #ccc;
  text-decoration: none;
}

/* map */
.map {
	padding-top: 30px;
}
#contact {
  background: #f7f7f7;
  padding: 80px 0 40px 0;
}
#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #2dc997;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}